body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #12121267; /* Dark background */
  color: #e0e0e0; /* Light text color for body */
  line-height: 1.6;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
  background-color: #2121219b; /* Darker paragraph background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Darker shadow */
  border: 1px solid #333; /* Darker border */
}

strong {
  font-weight: 600;
  color: #64b5f6; /* Lighter blue color */
}

p:last-child {
  background-color: #311b92; /* Dark purple background */
  color: #b39ddb; /* Lighter purple text */
  border: 1px solid #5e35b1; /* Darker purple border */
  text-align: center;
  font-style: italic;
}